{% raw %}{% load static %}{% endraw %}
{%- if dkcutter.frontendPipeline in ["Rspack", "Webpack"] %}
{% raw %}{% load render_bundle from webpack_loader %}{% endraw %}
{%- endif %}

{% raw %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      {% endblock title %}
      • {% endraw %}{{ dkcutter.projectName }}{% raw %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% endraw %}{{ dkcutter.description }}{% raw %}" />
    <meta name="author" content="{% endraw %}{{ dkcutter.authorName }}{% raw %}" />
    <link href="{% static 'images/favicons/favicon.ico' %}" rel="icon" />
    {% endraw %}<!-- This file stores project-specific CSS -->
    {%- if dkcutter.frontendPipeline in ["Rspack", "Webpack"] %}
    {% raw %}{% render_bundle "main" "css" %}{% endraw %}
    {%- else %}
    {% raw %}<link href="{% static 'css/index.css' %}" rel="stylesheet" />{% endraw %}
    {%- endif %}
    {%- if dkcutter.frontendPipeline in ["Rspack", "Webpack"] %}{% raw %}
    <!-- Vendor dependencies bundled as one file -->
    {% render_bundle "vendors" "js" attrs="defer" %}{% endraw %}
    {%- endif %}
    <!-- place project specific Javascript in this file -->
    {%- if dkcutter.frontendPipeline in ["Rspack", "Webpack"] %}
    {% raw %}{% render_bundle "main" "js" attrs="defer" %}{% endraw %}
    {%- else %}
    {% raw %}<script defer src="{% static 'js/project.js' %}"></script>{% endraw %}
    {%- endif %}{% raw %}
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
    {% endblock css %}
    {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
    {% endblock javascript %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    {% block inline_javascript %}
      <!-- Script tags with only code, no src (defer by default). -->
      <!-- To run with a "defer" so that you run inline code: -->
      <script>
        window.addEventListener("DOMContentLoaded", () => {
          /* Run whatever you want */
        });
      </script>
    {% endblock inline_javascript %}
  </body>
</html>{% endraw %}
