{% if dkcutter.useTailwind -%}
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  body {
    @apply relative;
  }
}

{% else -%}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  position: relative;
}

.page-container {
  text-align: center;
  margin-inline: auto;
  margin-block: 2.5rem; /* 40px */
  padding-inline: 2rem; /* 32px */
  @media (width >= 40rem /* 640px */) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

.page-title {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 700;
  text-decoration-line: underline;
  margin: 1rem 0;
}
.page-error-sub-title {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.page-error-description {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.page-500-description {
  max-width: 36rem; /* 576px */
  margin-top: 0.5rem; /* 8px */
  margin-inline: auto;
}

{% endif -%}

/* project specific CSS goes here */
