{% if dkcutter.useTailwind -%}
@import "tailwindcss";

@layer base {
  body {
    @apply flex justify-center items-center flex-col mt-4;
  }
}

{% else -%}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.page-title {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 700;
  text-decoration-line: underline;
  margin: 1rem 0;
}
.page-error-sub-title {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.page-error-description {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.page-500-description {
  max-width: 36rem; /* 576px */
  margin-top: 0.5rem; /* 8px */
  margin-inline: auto;
}

{% endif -%}

/* project specific CSS goes here */
