{% raw %}{% load allauth %}

<form
  method="{{ attrs.method }}"
  {% if attrs.action %}action="{{ attrs.action }}"{% endif %}
  class="{% endraw %}{{ 'flex flex-col gap-6 max-w-xl mx-auto border rounded-md p-4 text-start mt-2 mb-4' if dkcutter.useTailwind else 'form' }}{% raw %}"
>
  {% slot body %}
  {% endslot %}
  <div class="{% endraw %}{{ 'flex items-center gap-2 [&>button]:w-full' if dkcutter.useTailwind else 'form-actions' }}{% raw %}">
    {% slot actions %}
    {% endslot %}
  </div>
</form>{% endraw %}
