{% raw %}{% load allauth %}

{% comment %} djlint:off {% endcomment %}
<section class="{% endraw %}{{ 'mx-auto my-4 flex max-w-xl flex-col rounded-md border p-4 text-start' if dkcutter.useTailwind else 'allauth-section' }}{% raw %}">
  <h2 class="{% endraw %}{{ 'mb-1 text-center text-xl font-medium' if dkcutter.useTailwind else 'allauth-section-title' }}{% raw %}">
    {% slot title %}
    {% endslot %}
  </h2>
  {% slot body %}
  {% endslot %}
  {% if slots.actions %}
    <ul class="{% endraw %}{{ 'flex items-center justify-center gap-2' if dkcutter.useTailwind else 'allauth-section-actions' }}{% raw %}">
      {% for action in slots.actions %}<li>{{ action }}</li>{% endfor %}
    </ul>
  {% endif %}
</section>{% endraw %}
