name: CI

on:
  push:
    branches: [master, main]
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check-code:
    name: Check Code - CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: pnpm install
      - name: Check code
        run: pnpm check

  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    name: "test ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .nvmrc
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install Node dependencies
        run: pnpm install
      - name: Install Python dependencies
        run: uv sync
      - name: Run tests
        run: uv run tox

  docker:
    strategy:
      fail-fast: false
      matrix:
        script:
          - name: Basic
            args: ""
          - name: Celery & DRF
            args: --useCelery --restFramework DRF
          - name: Celery & DNRF
            args: --useCelery --restFramework DNRF
          - name: Rspack
            args: --frontendPipeline Rspack
          - name: Rspack with TS
            args: --frontendPipeline Rspack --frontendPipelineLang ts
          - name: Rspack with TailwindCSS and Eslint
            args: --frontendPipeline Rspack --additionalTools tailwindcss,eslint
          - name: Webpack
            args: --frontendPipeline Webpack
          - name: Webpack with TS
            args: --frontendPipeline Webpack --frontendPipelineLang ts
          - name: Webpack with TailwindCSS and Eslint
            args: --frontendPipeline Webpack --additionalTools tailwindcss,eslint

    name: "Docker ${{ matrix.script.name }}"
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      COMPOSE_DOCKER_CLI_BUILD: 1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .nvmrc
      - name: Install Node dependencies
        run: pnpm install
      - name: Docker ${{ matrix.script.name }}
        run: sh tests/test_docker.sh ${{ matrix.script.args }}
